<div class="container">
  <div class="row  ">
    <div class="col-8 card m-auto mt-4 g-3 py-2">
      <div *ngIf="error" class="alert alert-danger">
        {{ error }}
      </div>
      <form class="" [formGroup]="newMoiveFormData" (ngSubmit)="NewMovie()">
        <label class="form-label" for="">name</label>
        <input class="form-control" formControlName="name" type="text" />

        <label class="form-label" for="">description</label>
        <input class="form-control" formControlName="description" type="text" />

        <label class="form-label" for="">image</label>
        <input class="form-control" type="file" (change)="AddImage($event)" />

        <select class="form-select my-3" formControlName="category_id">
          <option *ngFor="let cat of moviecat" [value]="cat.id">
            {{ cat.name }}
          </option>
        </select>
     <div class="d-flex justify-content-end">
         <button
           type="submit"
           [disabled]='newMoiveFormData.invalid'
           class="btn btn-success w-25 my-2 "
         >
           Create
         </button>
     </div>
      </form>
    </div>
  </div>
</div>
